body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 14px;
	color: #000;
}
header{
	background-color:#23415B;
	
}
header h1{ color:#666;
	font-size: 20px;	
}
#sec-primera {
	
}
.cuadros {
	text-align: center;
	padding: 80px 10px 10px;
	margin-left:80px;
	margin-right:80px;
	
}
#sec-uno {
	
}

.gallery {
	padding: 10px 10px 10px;
	margin-left:30px;
	margin-right:30px;
}
.personal {
	padding: 50px 10px 10px;
	margin-left:60px;
	margin-right:60px;
	
}
.personal p{color:#999;
text-align: center;
	
}
#sec-summer {
	background-color:#39F;
	color:#FFF;
	padding:50px 0px;
	
}
#sec-esta {padding: 80px 10px 10px;
	margin-left:60px;
	margin-right:60px;
	text-align: center;
	
}
#sec-esta h1{
	color:#000;
	font-family:Tahoma, Geneva, sans-serif;
}

#sec-esta p{
	color:#39F;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
}


#sec-footer{
	background-color: #666;
	color: #FFFFFF;
	padding: 30px 0px;
		
}
#sec-footer p {
	color:#FFF;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	
}
#sec-footer ul{
	list-style: none;	
}
#sec-footer a{ color: #FFFFFF;
	text-decoration: none;
	
}
#sec-footer a:hover { color: #39F;
	text-decoration: none;
	
}
#sec-copy{
	
	background-color:#333;
	color: #FFF;
	padding: 25px 0px ;
	text-align: center;
}
.colorazul{ color:#39F;
	
}
.colorblan{ color:#FFFFFF;
	
}